@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
background-image: url(./bilder/bakgrund.jpg);

background-position: 53cm 28cm;
width: 100%;


}
h1 {
    color: #38f7ff;
    
    border-left: #38f8ff00;
    border-right: #38f7ff00;
    border-width: 10px;
    border-top: 3px solid #38f7ff;
    border-bottom: 3px solid #38f7ff;
   width:650px;
    margin-left: 100px;
    text-decoration:solid;
    font-family: "Playfair Display", serif;
    font-size: 60px;
    letter-spacing: 20px;
    
}
h2 {
    color: #38f7ff;
    margin-left: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
p {
    margin-left: 100px;
    background-color: #00a6ad;
    border-radius: 10px;
    padding: 10px;
    width: 555px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
a {
    color: rgb(153, 33, 20);
    text-decoration: none;

}
img {
    margin-left: 100px;
    background-color: #00a6ad;
    border-radius: 10px;
    padding: 20px;
    width: 535px;
}
table {
    margin-left: 100px;
    width: 575px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
tr {
    
    border-radius: 10px;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
th {
    background-color: #00a6ad;
    border-radius: 5px;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
td {
    
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #00a6ad;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}
